In [1]:
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output
import pandas as pd
from collections import Counter

In [25]:
# loading data as dataframe, leaving the rows with empty species out, keeping only the species column
df = pd.read_pickle('annotations_wv.pkl')
df = df[df['species'].map(lambda d: len(d)) > 0]
df = df.species
df

190                       [[Bacteria, 3]]
1332               [[Mammalian, 4899044]]
1514                         [[Fungi, 5]]
1663                  [[Fungal, 4904189]]
3134                       [[Viruses, 8]]
                        ...
1374532       [[Palaeoniscidae, 3238414]]
1374567          [[Diversisporales, 533]]
1374651            [[Plocamiaceae, 9033]]
1374857          [[Trichoniscidae, 5764]]
1374960    [[Poecilia sphenops, 5203748]]
Name: species, Length: 19519, dtype: object

In [44]:
# attention, prend 3 minutes à sortir
series = df.value_counts().rename_axis('name').reset_index(name='count')

In [45]:
series

                                    name  count
0                        [[Bacteria, 3]]    581
1                           [[Fungi, 5]]    241
2                    [[Fungal, 4904189]]    209
3                   [[Sterile, 3280708]]    143
4                  [[Cyanobacteria, 68]]    124
...                                  ...    ...
15184     [[Filifactor alocis, 3226850]]      1
15185  [[Trichothecium roseum, 2561979]]      1
15186    [[Macaranga tanarius, 3074251]]      1
15187  [[Nodosilinea nodulosa, 7713516]]      1
15188     [[Poecilia sphenops, 5203748]]      1

[15189 rows x 2 columns]

In [46]:
series.to_csv('species_w2v.csv')