In [1]:
import numpy as np
import matplotlib.pyplot as plt
import time
from IPython.display import clear_output
import pandas as pd

In [2]:
# load species.csv
df = pd.read_csv(r'species.csv')
print(df)

       Unnamed: 0                     name   count
0              11                 Bacteria  177137
1             246           Entamoeba coli   44665
2             114                    Fungi   42807
3             158                Mammalian   32036
4             216               Microbiota   29069
...           ...                      ...     ...
91162       67465  Arthroleptis phrynoides       1
91163       67464   Telmatobius vilamensis       1
91164       67463   Telmatobius verrucosus       1
91165       67462   Telmatobius marmoratus       1
91166       91166                  Wolfius       1

[91167 rows x 3 columns]

In [3]:
def random_nid(taxon_list):
        return np.random.choice(taxon_list)

In [4]:
df.head

<bound method NDFrame.head of        Unnamed: 0                     name   count
0              11                 Bacteria  177137
1             246           Entamoeba coli   44665
2             114                    Fungi   42807
3             158                Mammalian   32036
4             216               Microbiota   29069
...           ...                      ...     ...
91162       67465  Arthroleptis phrynoides       1
91163       67464   Telmatobius vilamensis       1
91164       67463   Telmatobius verrucosus       1
91165       67462   Telmatobius marmoratus       1
91166       91166                  Wolfius       1

[91167 rows x 3 columns]>

In [5]:
taxon_rare = df[df["count"] < 10000]
taxon_list = taxon_rare.name.tolist()
#print(taxon_list)

In [10]:
your_pokemon = random_nid(taxon_list)
print(your_pokemon)

red milkweed beetle

In [15]:
f = pd.read_pickle('annotations_wv.pkl')
df = df.species[df.species]
df

55                                     []
67                                     []
68                                     []
77                                     []
80                                     []
                        ...
1374911                                []
1374915                                []
1374949                                []
1374953                                []
1374960    [[Poecilia sphenops, 5203748]]
Name: species, Length: 105993, dtype: object

In [13]:
df2 = pd.DataFrame([{'name':k,'count':v} for k,v in df['species'].items()])
df2 = df2.sort_values('count', ascending=False)
df2

         name                      count
83937  952197   [[zebu cattle, 2441023]]
25054  260362   [[zebrafishes, 2334432]]
8713    88942  [[zebra mussel, 2287072]]
65584  726473   [[zebra danio, 2362679]]
25653  267284   [[ylang-ylang, 5407583]]
...       ...                        ...
38102  407715                         []
38101  407711                         []
38100  407709                         []
38099  407704                         []
52996  580432                         []

[105993 rows x 2 columns]